doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lunch Page
      
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
 
        style
            include styles.css
   
    body

        nav.navbar
            h2 Lunch
        section.lists
            div.group
                h2 Orders
                each registro, index in registros
                    div.row
                        div.colum-img
                                img.card-img(src=registro.userImg)
                        div.colum-info
                            div.card-info
                                p.card-name #{registro.Name}
                                p.card-Res #{registro.Restaurant}
                                p.card-des #{registro.Order + ` ` + registro.description } 
            div.group
                h2 Groups
                each bot, index in Bot.parties
                    div.row
                        div.colum-img.img-group
                            img.card-img(src= "https://capacidades.org/wp-content/uploads/2019/03/default-user.png ")
                            img.card-img.imgOver(src= "https://capacidades.org/wp-content/uploads/2019/03/default-user.png")
                            img.card-img.imgOver(src= "https://capacidades.org/wp-content/uploads/2019/03/default-user.png")
                        div.colum-info
                            p.card-name #{bot.groupName} #{bot.time} 
                            p.card-Res #{bot.destination}
                            p.card-des #{bot.passengers}

            div.group
                h2 New Order
                div
                    div.form-container 
                        form(method="post" action="/form")
                            div         
                                input(type="text" placeholder="Name" name="Name" required)
                            div
                                input(type="text" placeholder="Restaurant" name="Restaurant" required)
                            div
                                input(type="text" placeholder="Order" name="Order" required)
                            div 
                                input(type="text" placeholder="description" name="description")
                            div
                                button(type="submit") Save

                        


                

